disable line break {
  white-space: nowrap;
}

disable line break and hide content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

=== import font ===
@import url('https://fonts.googleapis.com/css?family=Lato');

html {
  font-family: Lato, sans-serif;
}
